<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      <a href="https://twitter.com/#!/T_xie">Tony</a> is a pretty noob guy right now. Watch as he gets better lol.
    </p>
  </body>
</html>