<% provide(:title, "Create New Account") %> 
<title><%= full_title(yield(:title)) %></title>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/login_info' %>
  </div>
</div>